site_name: Armis Python SDK
site_url: !ENV READTHEDOCS_CANONICAL_URL
repo_url: https://github.com/ArmisSecurity/armis-sdk-python

nav:
  - Getting started: index.md
  - Entities:
      - Asset:
          - entities/asset/index.md
          - Device:
            - entities/asset/device/index.md
            - entities/asset/device/Boundary.md
            - entities/asset/device/NetworkInterface.md
      - DataExport:
        - entities/data_export/index.md
        - Application: entities/data_export/Application.md
        - RiskFactor: entities/data_export/RiskFactor.md
        - Vulnerability: entities/data_export/Vulnerability.md
      - CollectorImage:
          - entities/collector_image/index.md
          - entities/collector_image/CollectorImageType.md
      - DeviceCustomProperty: entities/DeviceCustomProperty.md
      - Site:
        - entities/site/index.md
        - entities/site/AsqRule.md
  - Clients:
      - AssetsClient:
        - clients/assets_client/index.md
        - clients/assets_client/AssetIdSource.md
      - CollectorsClient:
          - clients/collectors_client/index.md
          - clients/collectors_client/DownloadProgress.md
      - DataExportClient: clients/DataExportClient.md
      - DeviceCustomPropertiesClient: clients/DeviceCustomPropertiesClient.md
      - SitesClient: clients/SitesClient.md
  - Core:
      - ArmisClient: core/ArmisClient.md
      - ArmisSdk: core/ArmisSdk.md
      - Errors: core/errors.md
  - About Armis: about.md

theme:
  name: material
  favicon: images/favicon.png
  logo: images/logo.png
  palette:
    primary: custom
  features:
    - content.code.annotate
    - content.code.copy
    - navigation.indexes

plugins:
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          paths: [ . ]
          options:
            members_order: source
            show_bases: true
            show_source: false
            show_root_heading: true
            summary: true
  - search

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences

extra:
  analytics:
    provider: google
    property: G-RNCS8V9TDB

extra_css:
  - stylesheets/extra.css

extra_javascript:
    - javascript/readthedocs.js
